/* regole generali di pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stile font */
body{
    font-family: Roboto, sans-serif;
}

/* regole stile contenitore globale */
.global-container{
    width: 100%;
    height: 100vh;
}

/* stile bg verde */
.green-container{
    height: 20%;
    background-color: #1EBEA5;
}

/* stile bg grigio */
.grey-container{
    height: 80%;
    background-color: #D7DBD6;
}

/* stile finestra webapp */
.app-window{
    height: 95%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* wrapper del nome user + nome chat */
.first-w{
    height: 10%;
    width: 100%;
}

/* stile nome user */
.username{
    width: 30%;
    background-color: #E9ECEF;
    display: flex;
    align-items: center;
    border-right: 1px solid lightgray;
}

/* stile dell'immagine */
.username > .userimg{
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    border: 1px solid black;
}

/* stile della scritta */
.username > span{
    font-size: 20px;
    margin-left: 20px;
}

.username a:first-of-type{
    margin-left: 160px;
}

.username a{
    padding-right: 30px;
    color: #BDC1C3;
    font-size: 20px;
    text-decoration: none;
}

/* stile nome chat */
.chatname{
    width: 70%;
    background-color: #E9ECEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatname img{
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 37px;
    border: 1px solid black;
}

.chatname .chatname-name{
    font-size: 25px;
}

.chatname .ultimoacc{
    font-size: 12px;
    margin-left: 100px;
}

/* stile icone  */
.chatname .icons{
    width: 20%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.chatname .icons a{
    color: #BDC1C3;
    text-decoration: none;
}

/* stile secondo wrapper */
.second-w{
    height: 90%;
    width: 100%;
}

/* stile barra laterale sinistra */
.left-section{
    height: 100%;
    width: 30%;
}

/* stile sezione notifiche */
.notifiche{
    height: 10%;
    background-color: #9DE1FE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
}

.notifiche #par-1{
    font-size: 18px;
    margin-bottom: 10px;
}

.notifiche #par-2{
    font-size: 14px;
}

/* stile searchbar */
.cerca{
    height: 5%;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cerca input{
    width: 90%;
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 5px;
}

.cerca a{
    color: #BDC1C3;
    text-decoration: none;
}
/* stile lista contatti */
.contact-list{
    height: calc(100% - 10% - 5%);
    background-color: #E9ECEF;
    overflow-y: scroll;
}

/* stile elementi lista contatti */
.contact-list .contact-me{
    height: 10%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.contact-list .contact-me img{
    height: 55px;
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid black;
}

/* stile sezione chatbox e inputfield */
.right-section{
    height: 100%;
    width: 70%;
}

/* stile sezione chatbox */
.chatbox{
    height: 90%;
    background-image: url('../img/waimg.jpg');
    overflow-y: scroll;
}

#hidden-chat{
    display: none;
}

#risposta{
    background-color: lightgray;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    margin-top: 20px;
    margin-left: 50px;
    word-wrap: break-word;
    max-width: 300px;
    margin-bottom: 20px;
    align-self: flex-start;
}

/* stile inputfield */
.inputfield{
    height: 10%;
    background-color: #E9ECEF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputfield a{
    text-decoration: none;
    color: #BDC1C3;
    font-size: 30px;
}

.inputfield input{
    width: 80%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.inputfield input:focus{
    box-shadow: 0px 0px 5px black;
}

/* stile dell'input dell'utente */
#userinput{
    background-color: green;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    margin-top: 20px;
    margin-right: 50px;
    word-wrap: break-word;
    max-width: 300px;
    margin-bottom: 20px;
    align-self: flex-end;
}



#template{
    display: none;
}


.contact-active{
    background-color: darkgray;
}

.hidden-chat{
    display: none !important
}

.chat-active{
    display: flex !important;
    flex-direction: column;
}

